html{
  --text-color:#333a4a;
  --page-color:#f5f6f1;
  --section-border-color: #ced2ed;
  --header-color: rgba(165, 66, 0, 0.699);
  --header-height:50px;

  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
}

body{
  margin: 0;

}

main{
  padding: 24px;
  background-color: var(--page-color);
 } 

.logo{

  display: flex;
  margin-right: 40px;
  border: 1px solid #000;
  
  line-height: var(--header-height);
  color: white;
  text-decoration: none;
}
#search {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px; /* Встановлюємо відступ для розділення пошукового вікна від інших елементів */
}

.nav{
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  gap: 20px;
  justify-content: center;
  background-color: var(--header-color);
}

.nav__link{
  line-height: var(--header-height);
  color:#fff;
  text-decoration: none;
}

/* Додайте стилі для dropdown-меню */
.dropdown {
  display: inline-block;
  color: var(--header-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  vertical-align: middle; /* Вирівнює блок dropdown по вертикалі відносно решти навігаційного меню */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--header-color);
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-button{
  padding: 0;
  background-color: var(--header-color);
  border-radius: 25px;
}
.title{
  margin: 24px 0;
  text-align: center;
}

.section{
  position: relative;
  height: 200px;
  margin: 24px 0;
  padding: 16px;
  background-color: #fff;
  border: 1px solid var(--section-border-color);
  border-radius: 8px;
}
.CPU {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BP{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.videocard{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ram{
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buy-button {
  position: absolute;
  bottom: 16px; /* Расположение внизу */
  left: 16px; /* Расположение слева */
  padding: 8px 16px;
  background-color: #007bff; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста кнопки */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section_title{
  margin: 0 0 16px;
  text-decoration: none;
  
}

.go-back{

  position:fixed;
  bottom: 24px;
  right: 50px;
  display: block;
  padding: 20px;
  background-color: var(--header-color);
  color: #fff;
  border-radius: 50%;
  z-index: 2;
}

.footer{
  padding: 50px;
  text-align: center;

  background-color: #000;
  color: #fff;
}